# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code
.vscode/

# Packages
*.nupkg
*.snupkg
packages/

/CarFactory/.vs/CarFactory
/CarFactory/.vs/ProjectEvaluation
